
@media (max-width: 575.98px) { 
    .card-width {
        width: 100%;
    }

    img {
        width: 80px;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    #navigation {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .card-width {
        width: 50%;
    }

    img {
        width: 160px;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    img:hover {
        width: 180px;
        height: auto;
    }
}

body {
    background-image:    url(bg.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transition-duration: 0.4s;
}

#container {
    min-height: 100%;
    position:relative;
}

#nav-bar {
    opacity: 0.9;
}

#content {
    padding-bottom: 100px;
}

#jumbo {
    opacity: 0.6;
    padding: 16px 16px;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
    display: block;
    height: auto;
    position: fixed;
}

#jumbo-text {
    font-size: 4vw;
}

#cards-div {
    max-height: 65%;
    overflow-y: auto;
    padding-bottom: 100px;
}

.card {
    opacity: 0.9;
    display: none;
    overflow-y: auto;
}

.disabled {
    pointer-events: none;
}

.custom-answer {
    cursor: pointer;
    background-color: rgba(5,24,59,.7);
    border: 2px solid #57a2fd;
    margin-right: 20px;
    margin-top: 20px;
    width: 260px;
    height: 260px;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.btn-option {
    width: 120px;
    height: 120px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.sign-text {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    color: grey;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
}