body {
    background-image:    url(bg.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#jumbo {
    opacity: 0.6;
    padding: 16px 16px;
}

.card {
    opacity: 0.9;
    display: none;
}

.disabled {
    pointer-events: none;
}

img {
    width: 200px;
    height: auto;
}

.custom-answer {
    cursor: pointer;
    background-color: rgba(5,24,59,.7);
    border: 2px solid #57a2fd;
    margin-right: 20px;
    margin-top: 20px;
    width: 260px;
    height: 260px;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.btn-option {
    width: 120px;
    height: 120px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}