
@media (max-width: 575.98px) { 
    .card-width {
        width: 100%;
    }

    .sign-text {
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
        font-stretch: condensed;
        text-transform: uppercase;
        text-align: center;
        color: grey;
        margin-top: 8px;
        cursor: pointer;
        display: inline-block;
    }

    .img-option {
        width: 100px;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .img-promo {
        width: 100%;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-bottom: 40px!important;
    }

    .telephonePromo {
        width: 100%;
        height: auto;
        transition-duration: 0.4s;
        padding-bottom: 20px;
    }

    #promo-video {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }

    #navigation {
        max-width: 100%;
    }

    .custom-btn-size {
        padding: 5px 10px!important;
        font-size: 12px!important;
        line-height: 1.5!important;
    }

    #jumbo-text {
        font-size: 3.7vw;
    }

    .btn-option {
        width: 120px;
        height: 140px;
        text-transform: uppercase;
        text-align: center;
        white-space:normal !important;
        word-wrap: break-word; 
        font-size: 11px !important;
    }
}

@media (min-width: 576px) {
    .card-width {
        width: 50%;
    }

    .sign-text {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        font-stretch: condensed;
        text-transform: uppercase;
        text-align: center;
        color: grey;
        margin-top: 8px;
        cursor: pointer;
        display: inline-block;
    }

    .img-option {
        width: 160px;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .img-promo {
        width: 70%;
        height: auto;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-bottom: 40px!important;
    }

    .telephonePromo {
        width: 80%;
        height: auto;
        transition-duration: 0.4s;
        padding-bottom: 20px;
    }

    .img-option:hover {
        width: 180px;
        height: auto;
    }

    .custom-btn-size {
        padding: 10px 16px!important;
        font-size: 18px!important;
        line-height: 1.3333333!important;
    }

    #promo-video {
        width: 600px;
        height: auto;
        margin-bottom: 30px;
    }

    #jumbo-text {
        font-size: 3vw;
    }

    .btn-option {
        width: 130px;
        height: 140px;
        text-transform: uppercase;
        text-align: center;
        white-space:normal !important;
        word-wrap: break-word; 
        font-size: 12px !important;
    }
}

body {
    background-image:    url(bg.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transition-duration: 0.4s;
}

#container {
    min-height: 100%;
    position:relative;
}

#nav-bar {
    opacity: 0.9;
}

#content {
    padding-bottom: 100px;
}

#jumbo {
    opacity: 0.6;
    padding: 16px 16px;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
    display: block;
    height: auto;
    position: fixed;
    z-index: 0;
}

#cards-div {
    max-height: 65%;
    overflow-y: auto;
    padding-bottom: 75px;
    z-index: 1000;
}

.card {
    opacity: 0.9;
    display: none;
    overflow-y: auto;
}

.disabled {
    pointer-events: none;
}

#opsti_uslovi {
    text-decoration: underline;
    cursor: pointer;
}

.custom-answer {
    cursor: pointer;
    background-color: rgba(5,24,59,.7);
    border: 2px solid #57a2fd;
    margin-right: 20px;
    margin-top: 20px;
    width: 260px;
    height: 260px;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}


.btn-animate {
    animation: MoveUpDown 0.6s linear infinite;
    position: relative;
    bottom: 0;
    margin-top: 30px;
}
  
@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


.btn-heheh {
    -webkit-animation: action 0.6s infinite  alternate;
    animation: action 0.6s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

.quote {
    font-style: italic;
    font-size: 12px;
}

#testimonials {
    text-align: justify!important;
}

.testimonial {
    margin-bottom: 20px;
}

#uslovi {
    font-size: 12px;
}

.blue-overlay {
    color: white;
    background: linear-gradient(to top left, #0371e8, aqua);
    display: inline-block;
    padding: 30px 20px;
    border-radius: 5px;
}